@font-face {
  font-family: jediFont;
  src: url('../../fonts/Starjhol.ttf') format('truetype');
}

.forms-container {
  display: flex;
  flex-direction: column;
  margin: 50px 100px;
}

.row {
  align-items: center;
  background-color: black;
  border-radius: 4px;
  height: 100%;
  justify-content: space-around;
  margin: 5px;
  margin-bottom: 10px;
  width: 100%;
}

.row input {
  justify-content: baseline;
  width: 100%;
}

.row label {
  color: #f5c118;
  display: flex;
  flex-direction: column;
  font-family: jediFont , Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
  font-weight: 900;
  margin: 10px;
}

@media only screen and ( max-width : 850px ) {

  .forms-container {
    display: flex;
    flex-direction: column;
  }

  .row {
    align-items: center;
    background-color: black;
    border-radius: 4px;
    height: 100%;
    justify-content: space-around;
    margin: 5px;
    margin-bottom: 10px;
    width: 100%;
  }

  .row input {
    justify-content: baseline;
    width: 100%;
  }

  .row label {
    color: #f5c118;
    display: flex;
    flex-direction: column;
    font-family: jediFont , Franklin Gothic Medium , Arial Narrow , Arial , sans-serif;
    font-weight: 900;
    margin: 10px;
  }

  .col-auto button {
    margin-bottom: 15px;
  }
}
