@media only screen and ( max-width : 1970px ) {

  .table {
    display: block;
    position: relative;
    width: 100%;
  }


  .table thead, .table tbody, .table th, .table td, .table tr {
    display: block;
  }

  .table td, .table th {
    border-right: 1px solid yellow;
    height: 35px;
  }

  .table thead {
    float: left;
  }

  .table tbody {
    -webkit-overflow-scrollng: touch;
    overflow-x: auto;
    position: relative;
    scroll-snap-type: x mandatory;
    white-space: nowrap;
    width: auto;
  }

  .table tbody tr {
    display: inline-block;
    overflow-wrap: break-word;
    scroll-snap-align: start;
    width: 70vw;
    word-wrap: break-word;
  }

}
